* {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  // letter-spacing: 0.1em;

  font-family: $font-main;
  font-size: 16px;
}

/*
essential styles:
these make the slideshow work
*/
body {
  background-image: url(/assets/img/texture.jpg);
  background-size: cover;
}

.slides {
  position: relative;
  height: 600px;
  width: 80%;
  padding: 0px;
  margin: 5% auto 20px;
  list-style-type: none;
  border: 1px solid gray;
  border-radius: 4px;
  box-shadow: 3px 5px 15px 0px rgba(0, 0, 0, 0.32);
}


@include xl-lg {
  .slides{
    height: 550px;
    width: 80%;
   
  }
}

@include lg {
  .slides{
    height: 450px;
    width: 80%;
   
  }
}

@include md {
  .slides{
    height: 350px;
    width: 80%;
   
  }
}
@include sm {
  .slides{
    height: 300px;
    width: 80%;
   
  }
}

.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -99;
  transition: opacity 1s;
  box-sizing: border-box;
  background: #333;

  & img {
    object-fit: cover;
    width: 100%;
    height: 100%;

  }

  &.active {
    opacity: 1;
    z-index: 2;
  }
}





.indicators,
.controls {
  position: relative;
  display: flex;
  gap: 10px;
  padding: 0;
  margin: 0;
  justify-content: center;
  z-index: 10;
}

.indicator,
.control {
  display: block;
  user-select: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.indicators {
  top: -50px;
  list-style: none;
}

.indicator {
  border-radius: 50%;
  height: 15px;
  min-width: 15px;
  background-color: #ccc;

  &.active {
    background-color: rgb(82, 80, 80);
  }
}

.controls {
  list-style: none;
  top: 50%;
  transform: translateY(-50%);
  justify-content: space-between;
}


.control-pause {
  font-size: 60px;
  opacity: 0.1;
  color: antiquewhite;

  & span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }

  &:hover {
    opacity: 1;
  }

}

.control-prev,
.control-next {
  font-size: 50px;
  opacity: 0.5;
  color: antiquewhite;
}
